@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply font-sans text-white bg-dark;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
